table{
    width:100%;
    table-layout: fixed;
}
.cs-successlist-tbl-header{
    background-color: #444;
    border-radius:10px 10px 0 0;
}
.cs-successlist-tbl-content{
    height:700px;
    overflow-x:auto;
    margin-top: 0px;
    border: 1px solid rgba(0,0,0,0.3);
    background:#fff;
}
th{
    padding: 10px 15px !important;
    text-align: left !important;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color:#fff;
}
td{
    padding: 15px !important;
    text-align: left !important;
    vertical-align:middle;
    font-weight: 500;
    font-size: 12px;
    border-bottom: solid 1px rgba(0,0,0,0.1);
}
.cs-successlist-tbl-content tr {
    background-color: #fff;
}
.cs-successlist-tbl-content tr:nth-child(even) {
    background-color: #f4f4f4;
}
.cs-section-heading{
    margin:0 0 25px;
    display:table;
    width:100%;
}
.cs-section-heading h1{
    width: auto;
    float: left;
    font-size: 20px;
    margin: 10px 0 0;
}
.cs-section-heading h1 span{
    color: red;
    font-weight: 700;s
}
.filter-fld-cont{
    float:right;
}
#cs_successListFilter{
    padding: 8px;
    width: 320px;
    margin: 5px 0 0;
}

.month-year{
    text-align:center !important;
    color:#000 !important;
    font-size:11px !important;
}
.month-year small{
    font-size:10px !important;
}
th.month-year{
    color:#fff !important;
}
body.page-id-2079 .page-title-container{
    display:none !important;
}
body.page-id-2079 #page-container .container {
    padding: 5px 15px 0;
}
body.page-id-2079 #secondary {
    padding-top: 70px;
}
/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
    width: 6px;
} 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1); 
} 
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}