.cs-section-heading{
    display: table;
    width: 100%;
    margin: 0 0 20px;
    padding: 0 0 10px;
    border-bottom: 1px solid #ccc;
}
.cs-section-heading h1{
    float: left;
    position:relative;
    width:100%;
}
.cs-section-heading a.btn{
    position:absolute;
    right:0;
    top:0;
    margin:0;
    text-decoration: none;
    padding: 8px 15px;
    background: #444;
    color: #fff;
    font-size: 14px;
    border-radius: 5px;
}
.cs-section-heading .notice {
    float: left;
    width: 96%;
    margin: 15px 0 0;
}
.cs-section-main{
    width:60%;
    float:left;
}
.cs-section-sidebar{
    float:right;
    width:30%;
}
.cs-section-main .form-control {
    width: 75%;
    display: block;
    margin: 0 0 10px;
}
.cs-section-main .form-control label {
    width: 100%;
    display: block;
    clear: both;
    font-size: 14px;
    font-weight: 700;
    margin: 0 0 5px;
}
.cs-section-main .form-control input[type=text] {
    width: 100%;
    display: block;
    height: 45px;
    padding: 15px;
}
.form-control .button{
    background: #0073aa;
    color: #fff;
    border: 0;
    font-size: 19px;
    font-weight: 700;
    padding: 10px 30px;
    height: auto;
    margin:15px 0;
}
.form-control .button:hover{
    background:#444;
    color:#fff;
}
.cs-section-main #file {
    padding: 10px 20px;
    border: 1px solid #444;
    background: #CDD;
    width: 70%;
    margin: 10px 0 0;
}
.cs-section-main .form-control label small{
    font-size: 13px;
    font-weight: 400;
    margin: 0 10px;
}
.width-100{
    width:100% !important;
}
.select-fld-block{
    float:left;width: 35% !important; margin: 20px 0 !important;
}
.select-fld-block select{
    width: 90%;
    height: 40px;
    padding: 5px 10px;
}